<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADS</title>
</head>
<body>
    <header>
        <h1>Tecnologia em Análise e Desenvolvimento de Sistema</h1>
        <h2>Curso: Tecnologia</h2>
        <nav>
            <ul>
                <li><h3>Carga horária: 2594h</h3></li>
                <li><h3>Duração: Três anos</h3></li>
                <li><h3>Tipo de ensino: Presencial</h3></li>
                <li><h3>Oferta em:</h3></li>
                <div>
                    <li><a href="">Pau dos Ferros</a></li>
                    <li><a href="">Natal-Central</a></li>
                    <li><a href="">Nova Cruz</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <p>Forma profissionais que analisam, projetam, documentam, especificam, testam, implantam e mantém sistemas computacionais de informação. Este profissional trabalha, também, com ferramentas computacionais, equipamentos de informática e metodologia de projetos na produção de sistemas. Raciocínio lógico, emprego de linguagens de programação e de metodologias de construção de projetos, preocupação com a qualidade, usabilidade, robustez, integridade e segurança de programas computacionais são fundamentais à atuação deste profissional.</p>
        <h2>Forma de ingresso</h2>
        <p>Processo seletivo</p>
    </main>
    <footer>
        <p>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte - Reitoria</p>
        <p>Endereço:Rua Dr. Nilo Bezerra Ramalho, 1692, Tirol
        <p>CEP:59015-300</p>
        <p>E-mail:comunicacao.reitoria@ifrn.edu.br</p>
        <p>Telefone:(84) 4005-0890</p>
    </footer>
</body>
</html>