<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimica</title>
</head>
<body>
    <header>
        <h1>Química</h1>
        <h2>Curso: Licenciatura</h2>
        <nav>
            <ul>
                <li><h3>Carga horária: 3404h</h3></li>
                <li><h3>Duração: Quatro anos</h3></li>
                <li><h3>Tipo de ensino: Presencial</h3></li>
                <li><h3>Oferta em:</h3></li>
                <div>
                    <li><a href="">Pau dos Ferros</a></li>
                    <li><a href="">Currais Novos</a></li>
                    <li><a href="">Inpagançu</a></li>
                    <li><a href="">Apodi</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <p>Forma profissionais docentes com habilitação ao exercício do magistério na Educação Básica. Pode atuar na área de análises químicas e controle de qualidade, quer no desenvolvimento de novos métodos analíticos, quer na operação de equipamentos. Pode também se dedicar à pesquisa acadêmica, que visa a geração de novos conhecimentos, materiais didáticos e metodologias.</p>
        <h2>Forma de ingresso</h2>
        <p>Processo seletivo</p>
    </main>
    <footer>
        <p>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte - Reitoria</p>
        <p>Endereço:Rua Dr. Nilo Bezerra Ramalho, 1692, Tirol
        <p>CEP:59015-300</p>
        <p>E-mail:comunicacao.reitoria@ifrn.edu.br</p>
        <p>Telefone:(84) 4005-0890</p>
    </footer>
</body>
</html>